<a class="nav-link text-white p-0" id="usuarioSucursales" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="my-auto">
        <b>{{seleccion.nombre}}</b>
    </div>
</a>
<ul class="dropdown-menu dropdown-menu-start  px-2 py-3 me-sm-n4" aria-labelledby="usuarioSucursales">
    <li class="mb-2 amo" *ngFor="let sucursal of lista" (click)="seleccionar(sucursal.id);">
        <div class="d-flex py-1">
            &nbsp;
            <div class="d-flex flex-column justify-content-center">
                <h6 class="text-sm font-weight-normal mb-1">
                    <span class="font-weight-bold">{{sucursal.nombre}}</span>
                </h6>
            </div>
        </div>
    </li>
</ul>