.caja-botones-posicion {
    right: 2%;
    left: auto;
    background-color: #E4E6E8;
    padding: 15px;
    top: 25%;
    max-width: 100%;
    width: 250px;
}

.elementos {
    display: flex;
    flex-direction: column;
}